{
    "presets": [
        ["env", {
            "targets": {
                // https://www.npmjs.com/package/babel-preset-env#targetsuglify
                "uglify": true
            },
            // http://2ality.com/2015/12/babel6-loose-mode.html
            "loose": true,
            "modules": false
        }]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
